#codepen{
    height: 800px;
}
#compilerimg{

    width: 600px;
    height: 300px;
    margin-left: 50PX;
}
#compiler{
    width: 400px;
    height: 400px;
    box-shadow: 20px;
    background-color: aliceblue;
    padding: 20px;
}
#compiler1{
    margin-top: 20px;
    margin-left: -6px;
}